In [ ]:
import datetime as dt
today= dt.date.today()
print ('today is:',today)

today is: 2022-08-23

In [ ]:
bDay=int(input('what day of the months you were born in:'))
bMonth=int(input('what months you were born in:'))
bYear=int(input('what year were you born in:'))
BD=dt.date(bYear,bMonth,bDay)
print("you were born on:",BD.strftime('%A %B %d %Y'))

what day of the months you were born in:15
what months you were born in:6
what year were you born in:2004
you were born on: Tuesday June 15 2004

In [ ]:
import calendar
print(calendar.calendar (1780))